<div class="bg-image"></div>
<div class="HomePageSignupForm BaseSignupForm continue_with_text">
    <div class="logo"></div>
    <div class="tagline">
        <h2>The best answer to any question</h2>
    </div>
</div>
<div class="login-content">
    
</div>